<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>636649969559-kpcksrgd7527cmndij9c2mjh68a9td4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636649969559-kpcksrgd7527cmndij9c2mjh68a9td4t</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Jq4-h3iN5uMlsFI1X8vr0pZkqt2WIq4</string>
	<key>GCM_SENDER_ID</key>
	<string>636649969559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appcoda.testChatRoom</string>
	<key>PROJECT_ID</key>
	<string>testchatroom-68b46</string>
	<key>STORAGE_BUCKET</key>
	<string>testchatroom-68b46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:636649969559:ios:3231d6c77e26bdd2</string>
	<key>DATABASE_URL</key>
	<string>https://testchatroom-68b46.firebaseio.com</string>
</dict>
</plist>